# Dependências para notebooks no Google Colab (GPU)
# Instalar com: !pip install -r requirements_colab.txt

transformers==4.40.*
torch==2.2.*                  # Colab já tem CUDA
tokenizers==0.19.*
datasets==2.18.*
accelerate==0.27.*
seqeval==1.2.*
iterative-stratification==0.1.*
pandas==2.1.*
numpy==1.26.*
tqdm==4.66.*
scikit-learn==1.3.*
sklearn-crfsuite==0.3.*
